<div class="container-fluid bg-light">
    <div class="container bg-light"></div>

        <div class="row mt-4">
            <div class="col"></div>
            <div class="col-md-12 bg-white"></div>

                <div class="card">
                <h4 class="text-white">To Do List</h4>
            </div>

            <div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="End task" aria-label="Recipient's username" aria-describedby="button-addon2">
                     <button class="btn btn-outline-success"type="button">+</button>
                    </div>
                  </div>
            </div>

            </div>
   

